<form action="/names" method="post">
  <div>
    <label for="player_1"> Player 1, enter your credentials: </label>
    <input type="text" name="player_1">
  </div>
  <div>
    <label for="player_2"> Player 2, enter your credentials: </label>
    <input type="text" name="player_2">
  </div>

  <input type="submit" value="Fight!">

</form>
